<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark aqua-gradient navigation"
>
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/dashboard">EasyFoot Admin</a>
  </mdb-navbar-brand>
  <links>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-lg-0">
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="/players">{{ players }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="/teams">{{ teams }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="/games">{{ games }}</a>
        </li>
		<li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="/places">{{ places }}</a>
        </li>
      </ul>
    </div>
  </links>
</mdb-navbar>
