<div class="my-login-page">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="card fat">
            <div class="card-body">
                <div class="row justify-content-md-center h-100">
              <img src="src/assets/img/logo.png" style="width:250px;height:250px;"> 
              </div>
              <h4 class="card-title">Login</h4>
              <form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

                <div class="form-group">
                  <label for="login">Usuário Administrativo</label>
                  <input #loginInput formControlName="login" class="form-control" autofocus >
                  <small *ngIf="!!loginForm.get('login').errors?.required && (loginForm.get('login').touch || loginForm.get('login').dirty)" class="text-danger d-block mt-2">
                    Campo Usuário é obrigatório!
                  </small>
                </div>

                <div class="form-group">
                  <label for="password">Senha</label>
                  <input formControlName="password" type="password" class="form-control">
                  <small *ngIf="!!loginForm.get('password').errors?.required && (loginForm.get('password').touch || loginForm.get('password').dirty)" class="text-danger d-block mt-2">
                    Campo Senha é obrigatório!
                  </small>
                </div>

                <div class="form-group">
                  <label>
                    <input type="checkbox" name="remember"> Lembrar credenciais
                  </label>
                </div>

                <div class="form-group no-margin">
                  <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>