<app-header></app-header>
<div class="container item-card" *ngIf="place">
  <mat-card>
    <mat-card-title class="item-name">
      <h4 class="text-center">{{ place.name | uppercase }}</h4>
    </mat-card-title>
    <mat-card-content>
      <!-- Name -->
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="place.name" />
      </mat-form-field>
      <br />
      <!-- City -->
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Cidade" [(ngModel)]="place.city.name" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mdbBtn color="light" (click)="goBack()">
        Voltar
      </button>
      <button type="button" mdbBtn color="success" (click)="save()">
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
