<app-header></app-header>

<div class="container ">
  <div class="row">
    <div class="col title">
      <h3 class="text-center text-uppercase h3-responsive">Jogadores</h3>
    </div>
  </div>

  <table mdbTable class="z-depth-1">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">
          {{ head }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players; let i = index">
        <th *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex" scope="row">
          {{ player.id }}
        </th>
        <td *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex">
          {{ player.name }}
        </td>
        <td *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex">
          {{ player.email }}
        </td>
        <td *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex">
          <a
            routerLink="/player-detail/{{player.id}}"
            class="btn btn-outline-primary"
            >Editar</a
          >
          <button
            class="delete btn btn-danger"
            title="delete player"
            (click)="delete(player)"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="5">
          <mdb-table-pagination
            (nextPageClick)="onNextPageClick($event)"
            (previousPageClick)="onPreviousPageClick($event)"
          >
          </mdb-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>

  <app-messages></app-messages>
</div>
