.title {
  margin: 40px 0 20px;
}

.title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #eeeff6;
  margin: 20px auto 10px auto;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  background-color: red !important;
  color: white;
}

button.delete:hover {
  background-color: #bf0500 !important;
}

.btn.btn-outline-primary {
  padding: 5px 10px;
  border-radius: 4px;
}
