/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin: 0;
}
h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 0;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
