<app-header></app-header>

<div class="container ">
  <div class="row">
    <div class="col title">
      <h3 class="text-center text-uppercase h3-responsive">Jogos</h3>
    </div>
  </div>

  <table mdbTable class="z-depth-1">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">
          {{ head }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games; let i = index">
        <th *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex" scope="row">
          {{ game.id }}
        </th>
        <td *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex">
          {{ game.name }}
        </td>
        <td *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex">
          {{ game.place.name }}
        </td>
        <td *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex">
          {{ game.createdBy.name }}
        </td>
        <td *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex">
          {{ game.dateTime | date: "medium" }}
        </td>
        <td *ngIf="i + 1 >= firstItemIndex && i < lastItemIndex">
          <a
            routerLink="/game-detail/{{game.id}}"
            class="btn btn-outline-primary"
            >Editar</a
          >
          <button
            class="delete btn btn-danger"
            title="delete game"
            (click)="delete(game)"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="6">
          <mdb-table-pagination
            (nextPageClick)="onNextPageClick($event)"
            (previousPageClick)="onPreviousPageClick($event)"
          >
          </mdb-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>

  <app-messages></app-messages>
</div>
