<app-header></app-header>

<div class="container item-card" *ngIf="player">
  <mat-card>
    <div class="text-center item-icon">
      <img class="shadow bg-white rounded" src="{{player.imageUrl}}" />
    </div>
    <mat-card-title class="item-name">
      <h4 class="text-center">{{ player.name | uppercase }}</h4>
    </mat-card-title>
    <mat-card-content>
      <!-- Name -->
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="player.name" />
      </mat-form-field>
      <br />
      <!-- Email -->
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" [(ngModel)]="player.email" />
      </mat-form-field>
      <br />
      <!-- City -->
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Cidade" [(ngModel)]="player.city.name" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mdbBtn color="light" (click)="goBack()">
        Voltar
      </button>
      <button type="button" mdbBtn color="success" (click)="save()">
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
