.item-icon img {
  width: 25%;
  margin: 20px 0 0;
}

.item-card {
  padding: 60px 0;
}

button {
  margin-left: 22px;
}

.item-name h4 {
  margin: 40px 0 20px;
  font-weight: bold;
}

.item-name::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #eeeff6;
  margin: 20px auto 40px auto;
}
