<app-header></app-header>

<div class="container item-card" *ngIf="game">
  <mat-card>
    <mat-card-title class="item-name">
      <h4 class="text-center">{{ game.name | uppercase }}</h4>
    </mat-card-title>
    <mat-card-content>
      <!-- Name -->
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="game.name" />
      </mat-form-field>
      <br />
      <!-- Place -->
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Local</mat-label>
        <input matInput [(ngModel)]="game.place.name" />
      </mat-form-field>
      <br />
      <!-- createdBy -->
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Criado Por</mat-label>
        <input matInput [(ngModel)]="game.createdBy.name" />
      </mat-form-field>
      <br />
      <!-- Data -->
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Data</mat-label>
        <input matInput placeholder="Cidade" [(ngModel)]="game.dateTime" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mdbBtn color="light" (click)="goBack()">
        Voltar
      </button>
      <button type="button" mdbBtn color="success" (click)="save()">
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
